* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    align-items: center;
    flex-direction: column;
}
div {
    width: 500px;
    height: 200px;
    color: #fff;
    font-size: 2rem;
    background-color: red;
    margin-top: 50px;
}
